.fullblackbackground {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

.fullstop {
    max-width: 1px;
    max-height: 1px;
}

.bg-secondary {
    color: white;
}