@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* Primary */

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    /* Neutral */
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--pale-blue);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    font-family: "Red Hat Display";
    font-weight: 900;
}

.description {
    font-family: "Red Hat Display";
    font-weight: 500;
    padding: 0px 100px 0px 100px;
    opacity: 0.5;
    /* width: auto; */
    text-align: center;
    /* margin-right: 100px; */
}

.flex-card {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: white;
    border-radius: 13px;
    width: 90vw;
    /* height: 500px; */
    padding-bottom: 40px;
}

#card-photo {
    border-radius: 13px 13px 0 0;
}

.flex-card-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 13px;
    width: 100%;
}

.annual-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    background-color: hsl(225, 100%, 94%, 0.6);
    justify-content: space-around;
    /* column-gap: 10px; */
    align-items: center;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.annual-container p:nth-child(2) {
    /* padding-right: 60px; */
    margin-right: 25%;
  }

.icon-music {
    border-radius: 12px;
    max-width: auto;
    /* max-height: 50px; */
    /* margin-top: 10px; */
    /* background-color: var(--very-pale-blue); */
}

.plan {
    font-family: "Red Hat Display";
    font-weight: 900;
}

span {
    opacity: 0.5;
    font-weight: 500;
}

.button {
    border-radius: 10px;
    background-color: var(--bright-blue);
    color: white;
    padding: 1.3em 10.3em 1.3em 10.3em;
    font-family: "Red Hat Display";
    font-weight: 900;
    width: 90%;
    box-shadow: 0px 16px 14px -11px rgba(0,0,0,0.56);
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
    font-family: "Red Hat Display";
    font-weight: 900;
}

/* CHANGE HYPERLINK */
a:nth-child(3) {
    color: var(--bright-blue);
    opacity: 1;
    font-family: "Red Hat Display";
    font-weight: 500;
}

a:nth-child(3):hover {
    color: var(--bright-blue);
    opacity: 0.5;
    text-decoration: none;
    font-family: "Red Hat Display";
    font-weight: 500;
}
/* CHANGE HYPERLINK */

/* CANCEL ORDER HYPERLINK */
a:nth-child(5):hover {
    color: black;
    text-decoration: none;
    opacity: 1;
    font-family: "Red Hat Display";
    font-weight: 900;
}

a:nth-child(5) {
    color: black;
    opacity: 0.6;
    text-decoration: none;
    font-family: "Red Hat Display";
    font-weight: 900;
}
/* CANCEL ORDER HYPERLINK */


@media only screen and (min-width: 1400px) {

    .flex-card {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        border-radius: 13px;
        /* width: 50vw; */
        /* height: 500px; */
        width: 40vw;
        padding-bottom: 40px;
    }

    .flex-card-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 13px;
        width: 40vw;
    }

    .annual-container {
        display: flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        background-color: hsl(225, 100%, 94%, 0.6);
        justify-content: space-around;
        /* column-gap: 20px; */
        align-items: center;
        width: 90%;
        border-radius: 10px;
        /* margin-bottom: 40px; */
        /* margin-top: 20px; */
    }

    .annual-container p:nth-child(2) {
        /* padding-right: 60px; */
        margin-right: 50%;
      }

      .button {
        border-radius: 10px;
        background-color: var(--bright-blue);
        color: white;
        padding: 20px 200px 20px 200px;
        font-family: "Red Hat Display";
        font-weight: 900;
        box-shadow: 0px 16px 14px -11px rgba(0,0,0,0.56);
    }

 
}