body {
    background-image: 
      url(../images/bg-pattern-top.svg),
      url(../images/bg-pattern-top.svg);
    background-position:
      top left, /* this positions the first image */
      bottom right; /* this positions the first image */
    background-repeat:
      no-repeat, no-repeat; /* this applies to both images */
      background-attachment: fixed, fixed;
      background-size: 6200px, 6200px;
      background-color: hsl(185, 75%, 39%);
      font-family: "Kumbh Sans";
  }

.card {
    background-image: url(../images/bg-pattern-card.svg);
}

.card-body {
    background-color: white;
  }

.bulat {
    border-radius: 50%;
    max-width: 30%;
    max-height: 30%;
  }

.card-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

.card-footer > div {
  width: 100px;
  margin: 20px;
  text-align: center;

}

.lembik {
  font-weight: 100;
}

.kuat {
  font-weight: 900;
}