body {
  background-color: black;
}
h3 {
  font-family: railway;
}

.white-color {
  color: white;
}

.gray-background {
  background-color: #696969
}

.center2 {
  margin: auto;
  width: 40%;
  display: block;
}